<%
result = Db.query( "select * from fruits_datas" )
data = result |> Db.columns_rows
%>
<table border="1">
<tr>
  <th>ID</th>
  <th>名前</th>
  <th>価格</th>
  <th>生産国</th>
</tr>
<%= for record <- data do %>
<tr>
    <td><%= record[ "id" ] %></td>
    <td><%= record[ "name" ] %></td>
    <td><%= record[ "value" ] %></td>
    <td><%= record[ "region" ] %></td>
</tr>
<% end %>
</table>